
@{
    ViewBag.Title = "Home";
}
<link href="~/Content/bootHome.css" rel="stylesheet" type="text/css" />
<h2>Bialystok like LA</h2>

<p>Welcome to Bialystok like LA.</p>
<p>We are sure that everyone can find whatever he needs in our shop. We bring clothes straight from Los Angeles.</p>

<h1>Enjoy!</h1>

